{% extends "layout.html" %}

{% block title %}Les crédits • LH44{% endblock %}
{% block ogtitle %}Crédits du Projet LH44{% endblock %}
{% block ogdescription %}Crédits du Projet LH44, le travail de fin d’études de Dylan Vercalsteren dans l’option Design Web Transmédia à la Haute École Albert Jacquard.{% endblock %}
{% block url %}{{ request.url }}{% endblock %}
{% block description %}Crédits du Projet LH44, le travail de fin d’études de Dylan Vercalsteren dans l’option Design Web Transmédia à la Haute École Albert Jacquard.{% endblock %}

{% block content %}
    <section class="credits">
        <h1 class="title credits__title credits__title--h1">Projet LH44 — TFE</h1>
        <h2 class="title credits__title credits__title--h2">Crédits</h2>
        <h3 class="title credits__title credits__title--h3">Réflexion UX/UI et recherches</h3>
        <ul class="credits__list">
            <li class="credits__el">Dylan Vercalsteren.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Conception et développement</h3>
        <ul class="credits__list">
            <li class="credits__el">Dylan Vercalsteren.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Conception graphique et design</h3>
        <ul class="credits__list">
            <li class="credits__el">Dylan Vercalsteren.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Contenu rédactionnel et storytelling</h3>
        <ul class="credits__list">
            <li class="credits__el">Dylan Vercalsteren.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Technologies</h3>
        <ul class="credits__list">
            <li class="credits__el">HTML&#8239;;&nbsp;</li>
            <li class="credits__el">SCSS&#8239;;&nbsp;</li>
            <li class="credits__el">Javascript&#8239;;&nbsp;</li>
            <li class="credits__el">Python&#8239;;&nbsp;</li>
            <li class="credits__el">Flask&#8239;;&nbsp;</li>
            <li class="credits__el">Jinja&#8239;;&nbsp;</li>
            <li class="credits__el">Git&#8239;;&nbsp;</li>
            <li class="credits__el">GSAP&#8239;;&nbsp;</li>
            <li class="credits__el">ChartJS&#8239;;&nbsp;</li>
            <li class="credits__el">Mon propre workflow&nbsp;: Vite + Flask&#8239;;&nbsp;</li>          
            <li class="credits__el">Vite&#8239;;&nbsp;</li>
            <li class="credits__el">Shell.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Outils et services</h3>
        <ul class="credits__list">
            <li class="credits__el">Visual Studio Code&#8239;;&nbsp;</li>
            <li class="credits__el">Github&#8239;;&nbsp;</li>
            <li class="credits__el">Figma&#8239;;&nbsp;</li>
            <li class="credits__el">Adobe PhotoShop&#8239;;&nbsp;</li>
            <li class="credits__el">Pangram Pangram Fonts&#8239;;&nbsp;</li>
            <li class="credits__el">Squoosh&#8239;;&nbsp;</li>
            <li class="credits__el">OVH&#8239;;&nbsp;</li>
            <li class="credits__el">Render&#8239;;&nbsp;</li>
            <li class="credits__el">ChatGPT.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Polices d’écriture</h3>
        <ul class="credits__list">
            <li class="credits__el">Formula, sans-serif&#8239;;&nbsp;</li>
            <li class="credits__el">Formula Narrow, sans-serif.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Ressources externes</h3>
        <ul class="credits__list">
            <li class="credits__el">Monsieur François Bourgaux&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Simon Marchal&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Clément Schmouker&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Melih Selamet&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Philippe Thronte.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Remerciements</h3>
        <ul class="credits__list">
            <li class="credits__el">Ma famille&#8239;;&nbsp;</li>
            <li class="credits__el">Mes amis&#8239;;&nbsp;</li>
            <li class="credits__el">Mes professeurs de l’option DWT (Design Web Transmédia)&#8239;;&nbsp;</li>
            <li class="credits__el">La Haute École Albert Jacquard (HEAJ).&#8239;;&nbsp;</li>
            <li class="credits__el">Mon lieu de stage (Fidelo Agency).&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Dernière mise à jour</h3>
        <ul class="credits__list">
            <li class="credits__el">Le 4 juin 2025 à 13&nbsp;h&nbsp;55.</li>
        </ul>
    </section>
{% endblock %}