{% extends "layout.html" %}

{% block title %}Le parcours • LH44{% endblock %}
{% block ogdescription %}Lewis Hamilton a une carrière incroyable. Découvrez son parcours exceptionnel de ses débuts en 2007 jusqu'à aujourd'hui.{% endblock %}
{% block url %}https://dylan-vercalsteren.be/projets/tfe/beta/parcours/{% endblock %}
{% block description %}Lewis Hamilton a une carrière incroyable. Découvrez son parcours exceptionnel de ses débuts en 2007 jusqu'à aujourd'hui.{% endblock %}

{% block content %}
<h1 class="parcours__main-title">Le parcours de Lewis Hamilton</h1>



<section class="intro-animation">
    <div class="intro-animation__start">
        <p>Tout commence lors de la saison 2007 de Formule 1 ...</p>
    </div>
    
    <div class="intro-animation__annonce">
        <h2 class="intro-animation__title">
            <span>Hamilton</span>
            <span>rejoint</span>
            <span class="intro-animation__title--red">McLaren</span>
        </h2>
    </div>
    
    <div class="intro-animation__parallax">
        <img src="{{ url_for('static', filename='images/lewis.png') }}" class="intro-animation__img" alt="">
        <img src="{{ url_for('static', filename='images/lh44.png') }}" class="intro-animation__logo" alt="">
    </div>
</section>



<nav class="subnav">
    <a href="#mclaren">McLaren</a>
    <a href="#mercedes">Mercedes</a>
    <a href="#ferrari">Ferrari</a>
</nav>

{% for ecurie, ecurie_data in data.items() %}
<section class="parcours parcours--{% if ecurie == 'mclaren' %}mclaren{% elif ecurie == 'mercedes' %}mercedes{% elif ecurie == 'ferrari' %}ferrari{% endif %}" id="{% if ecurie == 'mclaren' %}mclaren{% elif ecurie == 'mercedes' %}mercedes{% elif ecurie == 'ferrari' %}ferrari{% endif %}">
    <div class="parcours__team">
        {# <h2 class="parcours__ecurie">{{ ecurie }}</h2> #}

        {% for annee, details in ecurie_data.years.items() %}
            <div class="parcours__content">
                <h3 class="parcours__title">
                    <span class="parcours__title--ecurie">{{ ecurie }}</span>
                    <span class="parcours__title--year parcours__title--{% if ecurie == 'mclaren' %}mclaren{% elif ecurie == 'mercedes' %}mercedes{% elif ecurie == 'ferrari' %}ferrari{% endif %}">{{ annee }}</span>
                    <span class="parcours__title--{% if ecurie == 'mclaren' %}mclaren{% elif ecurie == 'mercedes' %}mercedes{% elif ecurie == 'ferrari' %}ferrari{% endif %}">{{ details.title }}</span>
                </h3>

                <div class="parcours__textuals">
                    {% for phrase in details.story %}
                        <p class="parcours__text">{{ phrase }}</p>
                    {% endfor %}
                </div>

                {% if details.image %}
                    {% set filename = details.image.split('/')[-1] %}
                    <img src="{{ details.image }}" alt="{{ filename }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

{% endblock %}