{% extends "layout.html" %}

{% block title %}Le parcours • LH44{% endblock %}
{% block ogtitle %}Parcours de Lewis Hamilton{% endblock %}
{% block ogdescription %}Lewis Hamilton a une carrière incroyable. Découvrez son parcours exceptionnel de ses débuts en 2007 jusqu'à aujourd'hui.{% endblock %}
{% block url %}{{ request.url }}{% endblock %}
{% block description %}Lewis Hamilton a une carrière incroyable. Découvrez son parcours exceptionnel de ses débuts en 2007 jusqu'à aujourd'hui.{% endblock %}

{% block content %}
    <h1 class="parcours__main-title">Le parcours de Lewis Hamilton</h1>

    <div class="intro-animation__start">
        <p>Tout commence lors de la saison 2007 de Formule 1&nbsp;...</p>
    </div>
    <div class="intro-animation__annonce">
        <p class="intro-animation__title">
            <span>Hamilton</span>
            <span>rejoint</span>
            <span class="intro-animation__title--red">McLaren</span>
        </p>
    </div>
    <div class="intro-animation__parallax">
        <img src="{{ url_for('static', filename='images/lewis.webp') }}" srcset="{{ url_for('static', filename='images/lewis@2x.webp') }} 2x" class="intro-animation__img" alt="Lewis Hamilton qui célèbre une victoire">
        <img src="{{ url_for('static', filename='images/lh44-red.webp') }}" srcset="{{ url_for('static', filename='images/lh44-red@2x.webp') }} 2x" class="intro-animation__logo" alt="Logo LH44">
    </div>

    {% for ecurie, ecurie_data in data.items() %}
        {% for annee, details in ecurie_data.years.items() %}
            <section class="parcours parcours--{{ ecurie }} hidden" id="parcours-{{ ecurie }}-{{ '%02d' % loop.index }}">
                <div class="parcours__team">
                    <div class="parcours__content">
                        <div class="parcours__left">
                            <h2 class="parcours__title">
                                <span class="parcours__title--ecurie">{{ ecurie }}</span>
                                <span class="parcours__title--{{ ecurie }}">{{ details.title }}</span>
                            </h2>
                            <h3 class="parcours__title parcours__title--year parcours__title--{{ ecurie }}">{{ annee }}</h3>
                            <div class="parcours__textuals">
                                {% for phrase in details.story %}
                                    <p class="parcours__text">{{ phrase|safe }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="parcours__right">
                            <div class="parcours__carousel">
                                <button class="parcours__btn parcours__btn--prev">
                                    <svg width="18" height="18" viewBox="0 0 40 33" xmlns="http://www.w3.org/2000/svg"><path d="M0.974373 16.474C0.974373 15.5929 1.68869 14.8786 2.56984 14.8786H33.9889L19.1624 0.052002L23.623 0.153624L39.9434 16.474L23.4173 33L19.1881 32.8937L33.9889 18.0695H2.56985C1.68869 18.0695 0.974373 17.3552 0.974373 16.474Z" fill="#FAFAFA" /></svg>
                                </button>
                                {% if details.images %}
                                    <div class="parcours__slides">
                                        {% for img_path in details.images %}
                                            <div class="parcours__slide">
                                                {% set filename = img_path.split('/')[-1] %}
                                                <img 
                                                    src="{{ url_for('static', filename=img_path) }}" 
                                                    srcset="{{ url_for('static', filename=img_path) }} 1x, {{ url_for('static', filename=img_path.replace('.', '@2x.')) }} 2x"
                                                    class="parcours__img" 
                                                    alt="{{ filename }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <button class="parcours__btn parcours__btn--next">
                                    <svg width="18" height="18" viewBox="0 0 40 33" xmlns="http://www.w3.org/2000/svg"><path d="M0.974373 16.474C0.974373 15.5929 1.68869 14.8786 2.56984 14.8786H33.9889L19.1624 0.052002L23.623 0.153624L39.9434 16.474L23.4173 33L19.1881 32.8937L33.9889 18.0695H2.56985C1.68869 18.0695 0.974373 17.3552 0.974373 16.474Z" fill="#FAFAFA" /></svg>
                                </button>
                            </div>   
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endfor %}
{% endblock %}