{% extends "layout.html" %}

{% block title %}Les sources • LH44{% endblock %}
{% block ogtitle %}Sources du Projet LH44{% endblock %}
{% block ogdescription %}Sources du Projet LH44, le travail de fin d’études de Dylan Vercalsteren dans l’option Design Web Transmédia à la Haute École Albert Jacquard.{% endblock %}
{% block url %}{{ request.url }}{% endblock %}
{% block description %}Sources du Projet LH44, le travail de fin d’études de Dylan Vercalsteren dans l’option Design Web Transmédia à la Haute École Albert Jacquard.{% endblock %}

{% block content %}
    <section class="credits">
        <h1 class="title credits__title credits__title--h1">Projet LH44 — TFE</h1>
        <h2 class="title credits__title credits__title--h2">Sources</h2>
        <h3 class="title credits__title credits__title--h3">Mentions légales</h3>
        <div class="credits__textuals">
            <p class="credits__text">Ce site web est un projet réalisé dans le cadre d’un travail de fin d’études (TFE) au sein de la Haute École Albert Jacquard. Il s’inscrit dans une démarche purement académique et pédagogique, ayant pour unique objectif l’obtention de mon diplôme en Design Web Transmédia.</p>
            <p class="credits__text">Ce projet n’a aucune vocation commerciale et ne vise en aucun cas à générer des revenus, à promouvoir des produits ou services, ni à en tirer un quelconque avantage financier ou matériel. Il s’agit d’une initiative personnelle et étudiante, dont le contenu a été développé uniquement à des fins éducatives et d’apprentissage.</p>
            <p class="credits__text credits__text--last">Merci de votre compréhension.</p>
        </div>
        <h3 class="title credits__title credits__title--h3">Images et vidéos</h3>
        <ul class="credits__list">
            <li class="credits__el">Photo d’Hamilton en tenue Mercedes de la page d’accueil&nbsp;: <a href="https://www.mercedesamgf1.com/" target="_blank" class="link">Mercedes AMG Petronas F1 Team</a>&#8239;;&nbsp;</li>
            <li class="credits__el">Photo d’Hamilton en tenue McLaren de la page d’accueil&nbsp;: <a href="https://www.mclaren.com/racing/" target="_blank" class="link">McLaren</a>&#8239;;&nbsp;</li>
            <li class="credits__el">Photo d’Hamilton en tenue Ferrari de la page d’accueil&nbsp;: <a href="https://www.ferrari.com/fr-FR" target="_blank" class="link">Ferrari</a>&#8239;;&nbsp;</li>
            <li class="credits__el">Photos MP4-23 de la page voitures&nbsp;: <a href="https://www.artstation.com/nati_hershko" target="_blank" class="link">Nati_hershko</a>&#8239;;&nbsp;</li>
            <li class="credits__el">Photos W05 et W11 de la page voitures&nbsp;: <a href="https://www.mercedesamgf1.com/" target="_blank" class="link">Mercedes AMG Petronas F1 Team</a>&#8239;;&nbsp;</li>
            <li class="credits__el">Vidéo de fond de la page d’accueil&nbsp;: <a href="https://www.mercedesamgf1.com/" target="_blank" class="link">Mercedes AMG Petronas F1 Team</a>&#8239;;&nbsp;</li>
            <li class="credits__el">Photos de la page parcours&nbsp;: Photographes inconnus&#8239;;&nbsp;</li>
            <li class="credits__el">Divers assets svg&nbsp;: Moi-même.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Données</h3>
        <ul class="credits__list">
            <li class="credits__el">Statistiques&nbsp;: <a href="https://www.lequipe.fr/Formule-1/Formule1FichePilote4000000000000644.html" target="_blank" class="link">Lequipe.fr</a> et <a href="https://aurupteur.com/" target="_blank" class="link">AuRupteur</a>&#8239;;&nbsp;</li>
            <li class="credits__el">API&nbsp;: <a href="https://ergast.com/mrd/" target="_blank" class="link">ErgastF1</a>.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Aides technologiques</h3>
        <ul class="credits__list">
            <li class="credits__el">I.A.&nbsp;: <a href="https://chatgpt.com" target="_blank" class="link">ChatGPT</a>.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Polices d’écriture</h3>
        <ul class="credits__list">
            <li class="credits__el">Formula&nbsp;: <a href="https://pangrampangram.com/" target="_blank" class="link">Pangram Pangram</a>.&nbsp;</li>
        </ul>

        <h3 class="title credits__title credits__title--h3">Ressources externes</h3>
        <ul class="credits__list">
            <li class="credits__el">Monsieur François Bourgaux&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Simon Marchal&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Clément Schmouker&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Melih Selamet&#8239;;&nbsp;</li>
            <li class="credits__el">Monsieur Philippe Thronte.&nbsp;</li>
        </ul>
    </section>
{% endblock %}