@use "../utils/index" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: $line-height;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-family: $formula;
    font-style: normal;
    font-weight: 400;

    font-size: $p-font-size;
    background-color: $dark-color;
    color: $light-color;
}

.link{
    font-weight: 500;
    text-decoration: none;
    color: $link-color;

    &:visited{
        color: $link-visited;
    }

    &:hover{
        color: $link-hover;
    }

    &:active{
        color: $link-active;
    }
}

.title{
    font-family: $formulaCondensed;
    font-weight: 400;
}

.btn{
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: $space-text;

    vertical-align: middle;

    border-radius: calc($base/2);
    padding: 18px 36px;

    font-family: $formula;
    font-weight: 400;
    // font-style: italic;
    font-size: $p-font-size;
    
    position: relative;
    overflow: hidden;
    z-index: 10;

	background: linear-gradient(90deg, $primary-color 0%, $primary-color 100%);
    color: $light-color;
    background-color: $dark-color;
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-position: left;
	transition: all $transition-left;

    text-decoration: none;

    &__text{
        padding-top: 5px;
    }

    path{
        transition: all $transition-left;
        fill: $light-color;
    }

    &:hover{
        color: $dark-color;
        background-size: 100% 100%;
        
        path{
            fill: $dark-color;
        }
    }

    &:active{
        transform: translateX(2%);
    }

    &--dark{
        color: $light-color;
        background: $dark-color;

        &:hover {
            color: $dark-color;
        }
    }
}

.wrapper{
    width: 50%;
    margin: 0 auto;
}

#transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    p{
        font-size: $h3-font-size;
        color: $primary-color;
        display: none;
        font-family: $formulaNarrow;
    }
}