@use "../utils/index" as *;

.footer{
    background-color: $dark-color;
    color: $light-color;
    height: $space-h4;
    
    display: flex;
    align-items: center;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $space-h3;
        padding: 0 $space-h5;
        width: 100%;
    }
    
    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;

        display: flex;
        gap: calc($space-p/2);
    }
    
    &__el a{
        font-size: $p-font-size;
        padding: 10px;
        color: $link-color;

        &:first-child{
            padding-left: 0;
        }

        &:visited{
            color: $link-color;
        }

        &:hover{
            color: $link-hover;
        }

        &:active{
            color: $link-active;
        }
    }

    &__dwt{
        display: flex;
        gap: calc($space-p/2);
    }

    &__credits{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: calc($space-p/2);
    }
    
    &__copyright{
        font-size: $p-font-size;
    }
    
    .dwt{
        -webkit-text-size-adjust: 100%;
        font-family: source-code-pro, monospace;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5238095238;
        -webkit-font-smoothing: antialiased;
        font-size: 80%;
        color: #707070;
        width: 50px;
        margin-left: 10px;
        position: relative;
        transition: none;
    
        &__txt{
            fill: $light-color;
        }
        
        &__und{
            fill: $primary-color;
        }
    }   

    .svg__dwt{
        display: flex;
        align-items: center;
        gap: $space-text;
    }
}