@use "../utils/index" as *;

.home{
    position: relative;

    width: 100%;
    height: 100vh;

    border-bottom: 1px solid $primary-color;

    &__img{
        position: absolute;
        bottom: 0; left: -10%;

        z-index: 20;

        opacity: 1;

        &--mcl{
            left: 12%;

            z-index: 19;
        }
    }

    &__svg{
        position: absolute;
        top: 50%;
        left: 10%;

        opacity: 1;
        transform: translate(-50%, -50%);

        z-index: 10;
    }

    &__content{
        display: inline-flex;
        flex-direction: column;

        transform: translateY(-50%);

        position: absolute;
        right: $space-h3;
        top: 50%;
    }

    &__title{
        font-size: $h1-font-size;
        color: $secondary-color;
        font-family: $formulaCondensed;
        margin-bottom: -50px;
    }

    &__subtitle{
        display: flex;
        align-items: center;
        gap: $space-text;

        margin-bottom: $space-p;
    }

    &__title-secondary{
        font-size: $h3-font-size;
        color: $primary-color;
        font-family: $formulaCondensed;
    }

    &__text {
        width: 60ch;
        margin-bottom: $space-text;
    }
}

.pattern-bg{
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;

    background-image: url('/static/icons/one-silver-arrow.svg');
    background-repeat: repeat;
    background-size: 180px;
    background-position: center;
    opacity: 0.02;
    animation: move-diagonal 30s linear infinite;
}

@keyframes move-diagonal{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -500px -350px;
    }
}

.svg-line{
    opacity: 0;
    transform: translateX(-100px);
}

.presentation{
    width: 100%;
    // height: 100vh;

    padding: $space-h3;

    color: $dark-color;
    background: $light-color;

    &__title{
        font-size: $h3-font-size;
        font-family: $formulaNarrow;
    }

    &__content{
        padding: $space-h6 0 $space-p;
    }
}