@use "../utils/index" as *;

.home{
    position: relative;

    width: 100%;
    height: 100vh;

    padding: $space-h3;

    display: flex;

    border-bottom: 2px solid $primary-color;

    @include responsive(xlarge){
        padding: $space-h3 auto;
        justify-content: center;
    }

    @include responsive(large){
        padding: $space-h3 $space-h4;
        height: 100%;
    }

    @include responsive(medium){
        padding: $space-h3 $space-h5;
    }

    @include responsive(xmedium){
        padding: $space-h3 $space-h6;
    }

    @include responsive(small){
        padding: $space-h3 $space-p;
    }

    @include responsive(xsmall){
        padding: $space-h3 $space-text;
    }

    &__img{
        position: absolute;
        bottom: 0; 
        //left: -10%;
        left: -$space-h2;

        z-index: 20;

        opacity: 1;

        width: 50%;

        &--mcl{
            //left: 12%;
            left: $space-h1;

            z-index: 19;

            width: 35%;

            @include responsive(xxlarge){
                left: $space-h3;
            }

            @include responsive(xlarge){
                display: none;
            }
        }

        @include responsive(xlarge){
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;

            opacity: 0.3;
            width: 80%;
        }

        @include responsive(large){
            display: none;
        }
    }

    &__svg{
        position: absolute;
        top: 50%;
        left: -5%;

        width: 100%;
        height: 100%;

        opacity: 1;
        transform: translate(-50%, -50%);

        z-index: 10;

        background-image: url('/static/svg/silver-arrow.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include responsive(xlarge){
            left: -10%;
            display: none;
        }

        @include responsive(large){
            display: none;
        }
    }

    &__left{
        width: 100%;
        height: 100%;

        @include responsive(xlarge){
            width: 0;
        }

        @include responsive(large){
            display: none;
        }
    }

    &__content{
        display: inline-flex;
        flex-direction: column;

        transform: translateY(-50%);

        position: absolute;
        right: $space-h1;
        top: 50%;

        z-index: 50;

        @include responsive(xxlarge){
            position: relative;
            right: auto;
        }

        @include responsive(large){
            position: static;
            width: 100%;
            transform: none;
        }
    }

    &__title{
        font-size: $h1-font-size;
        color: $secondary-color;
        font-family: $formulaCondensed;
        margin-bottom: -50px;

        @include responsive(950px){
            font-size: $h2-font-size;
            margin-bottom: -25px;
        }

        @include responsive(medium){
            font-size: $h3-font-size;
            line-height: 120%;
            margin-bottom: 0;
        }
    }

    &__subtitle{
        display: flex;
        align-items: center;
        gap: $space-text;

        margin-bottom: $space-p;

        svg{
            @include responsive(large){
                display: none;
            }
        }
    }

    &__title-secondary{
        font-size: $h3-font-size;
        color: $primary-color;
        font-family: $formulaCondensed;

        @include responsive(xmedium){
            font-size: $h4-font-size;
        }
    }

    &__text {
        width: 60ch;
        margin-bottom: $space-text;

        &--last{
            margin-bottom: 0;
        }

        @include responsive(large){
            width: 100%;
        }
    }

    .pattern-bg{
        position: absolute;
        inset: 0;
        z-index: 5;
        pointer-events: none;
    
        background-image: url('/static/svg/one-silver-arrow.svg');
        background-repeat: repeat;
        background-size: 180px;
        background-position: 0 0;
        opacity: 0.02;
        animation: move-diagonal 30s linear infinite;
    }
    
    @keyframes move-diagonal{
        0%{
            background-position: 0 0;
        }
        100%{
            background-position: -360px -360px; // -500 -350
        }
    }

    .scroll-invitation{
        background-color: $primary-color;
        width: 2px;
        height: 100px;

        position: absolute;
        transform: translateX(-50%);
        bottom: -50px; right: 25%;
    }
}


.citation{
    width: 100%;
    height: 90vh;

    position: relative;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        inset: 0;

        background-image: url('/static/images/swr-lh.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        opacity: 0.05;

        z-index: 0;
    }

    &__title{
        position: absolute;
        left: -100%;
    }

    &__content{
        width: 100%;
        padding: 0 $space-h1;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;

        text-align: center;
        font-size: $h4-font-size;

        opacity: 1;

        @include responsive(xxlarge){
            padding: 0 $space-h3;
        }

        @include responsive(xlarge){
            font-size: $h5-font-size;
        }

        @include responsive(large){
            padding: 0 $space-h5;
            font-size: $h5-font-size;
        }

        @include responsive(medium){
            font-size: $h6-font-size;
        }

        @include responsive(xmedium){
            padding: 0 $space-h6;
        }

        @include responsive(small){
            padding: 0 $space-p;
        }

        @include responsive(xsmall){
            padding: 0 $space-text;
        }
    }

    &__lh {
        transition: opacity $transition-left;
        color: $primary-color;
        font-family:$formulaNarrow;
        margin-top: $space-p;
    }
}


.presentation{
    width: 100%;
    height: auto;

    color: $dark-color;
    background: $light-color;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $space-h3;

    position: relative;
    z-index: 1;

    overflow: hidden;

    @include responsive(xlarge){
        flex-direction: column;
        gap: $space-h6;
    }

    @include responsive(large){
        flex-direction: column;
    }

    &::before{
        content: "";
        position: absolute;
        inset: 0;

        background-image: url('/static/svg/silver-arrow-silver.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.05;

        z-index: 0;
        pointer-events: none;
    }

    &__title{
        font-size: $h3-font-size;
        font-family: $formulaNarrow;
        line-height: 120%;

        position: relative;
        display: inline;

        @include responsive(large){
            font-size: $h4-font-size;
        }

        @include responsive(xmedium){
            font-size: $h5-font-size;
        }

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: $dark-color;
            transform: translateY(-50%);
            bottom: 50%; right: 104.414%;;
        }
    }

    &__content{
        margin: $space-h6 0 $space-p;
    }

    &__text{
        margin-bottom: $space-p;
        font-weight: 500;

        &--last{
            margin-bottom: 0;
        }
    }

    &__img{
        height: 100%;
        object-fit: cover;

        width: 100%;
    }

    &__left{
        padding: $space-h4 0 $space-h4 $space-h1;
        flex-basis: 40%;

        overflow-y: auto;

        @include responsive(xxlarge){
            padding: $space-h4 0 $space-h4 $space-h3;
            flex-basis: 50%; // 45%
        }

        @include responsive(xlarge){
            padding: $space-h4 $space-h3 $space-h6;
        }

        @include responsive(large){
            padding: $space-h4;
        }

        @include responsive(medium){
            padding: $space-h5;
        }

        @include responsive(xmedium){
            padding: $space-h6;
        }

        @include responsive(small){
            padding: $space-p;
        }

        @include responsive(xsmall){
            padding: $space-text;
        }
    }

    &__right{
        //position: sticky;
        //top: 0;

        flex-basis: 50%;

        height: auto;
        max-height: 100vh;

        padding-right: $space-h1;

        @include responsive(xxlarge){
            padding-right: 0;
            flex-basis: 40%;
        }

        @include responsive(xlarge){
            width: 100%;
            padding: 0 $space-h3;
        }

        @include responsive(large){
            display: none;
        }
    }
}

.score{
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;

    border-bottom: 2px solid $primary-color;

    &__title-wrapper{
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 0;
    }

    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity $transition-left, transform $transition-left;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: $space-p;

        font-size: $h4-font-size;
        font-family: $formulaNarrow;
        line-height: 120%;

        z-index: 20;
        pointer-events: none;

        @include responsive(medium){
            flex-direction: column;
            gap: calc($space-text/2);
        }

        &--visible{
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    @function scale-font($base, $ratio, $power: 2) {
        @return $base * pow($ratio, $power);
    }

    &__number{
        font-size: scale-font($h1-font-size, $rapport);
        color: $primary-color;

        @include responsive(medium){
            font-size: $h1-font-size;
        }
    }

    &__content{
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-h4;
    }

    &__btn{
        position: absolute;
        transform: translateX(-50%);
        top: 65%; left: 50%;

        @include responsive(medium){
            bottom: 15%;
            top: auto;
        }
        
        @include responsive(small){
            width: 60%;
        }
    }

    &__svg{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
        width: 80%; height: 80%;
        opacity: 0.5;
        z-index: -1;

        path{
            stroke: $secondary-color;
            stroke-width: 5px;
        }
    }
}

.cars{
    width: 100%;
    height: 100vh;

    background-color: $light-color;

    position: relative;
    z-index: 10;

    overflow: hidden;

    @include responsive(large){
        height: 100%;
    }

    &__content{
        display: flex;
        position: relative;
        z-index: 5;

        @include responsive(large){
            flex-direction: column;
        }
    }

    &__left{
        flex-basis: 40%;
        padding: $space-h4 0 $space-h4 $space-h1;

        @include responsive(xxlarge){
            flex-basis: 50%;
            padding: $space-h4 0 $space-h4 $space-h3;
        }

        @include responsive(xlarge){
            flex-basis: 100%;
            padding: $space-h4 $space-h3;
        }

        @include responsive(large){
            padding: $space-h4;
        }

        @include responsive(medium){
            padding: $space-h5;
        }

        @include responsive(xmedium){
            padding: $space-h6;
        }

        @include responsive(small){
            padding: $space-p;
        }

        @include responsive(xsmall){
            padding: $space-text;
        }
    }

    &__textuals{
        margin: $space-h6 0 $space-p;
    }

    &__text{
        margin-bottom: $space-p;
        color: $dark-color;
        font-weight: 500;

        &--last{
            margin-bottom: 0;
        }
    }

    &__right{
        flex-basis: 35%;
        
        position: absolute;
        top: 0; right: -5%; bottom: 0;

        z-index: 15;

        @include responsive(xxlarge){
            position: absolute;
            top: 0; right: -20%; bottom: 0;
        }

        @include responsive(xlarge){
            display: none;
        }

        @include responsive(large){
            display: none;
        }
    }

    &__title{
        font-size: $h3-font-size;
        font-family: $formulaNarrow;

        color: $dark-color;

        position: relative;
        display: inline;

        @include responsive(large){
            font-size: $h4-font-size;
        }

        @include responsive(xmedium){
            font-size: $h5-font-size;
        }

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: $dark-color;
            transform: translateY(-50%);
            bottom: 50%; right: 104.414%;
        }
    }

    &__img{
        width: auto;
        height: 100vh;
        object-fit: cover;
    }

    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        mix-blend-mode: luminosity;
        opacity: 0.2;

        & video{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    }
}