@use "../utils/index" as *;

.home{
    position: relative;

    width: 100%;
    height: 100vh;

    padding: 0 $space-h3;

    border-bottom: 2px solid $primary-color;

    &__img{
        position: absolute;
        bottom: 0; left: -10%;

        z-index: 20;

        opacity: 1;

        &--mcl{
            left: 12%;

            z-index: 19;
        }
    }

    &__svg{
        position: absolute;
        top: 50%;
        left: 10%;

        opacity: 1;
        transform: translate(-50%, -50%);

        z-index: 10;
    }

    &__content{
        display: inline-flex;
        flex-direction: column;

        transform: translateY(-50%);

        position: absolute;
        right: $space-h3;
        top: 50%;
    }

    &__title{
        font-size: $h1-font-size;
        color: $secondary-color;
        font-family: $formulaCondensed;
        margin-bottom: -50px;
    }

    &__subtitle{
        display: flex;
        align-items: center;
        gap: $space-text;

        margin-bottom: $space-p;
    }

    &__title-secondary{
        font-size: $h3-font-size;
        color: $primary-color;
        font-family: $formulaCondensed;
    }

    &__text {
        width: 60ch;
        margin-bottom: $space-text;
    }

    .pattern-bg{
        position: absolute;
        inset: 0;
        z-index: 5;
        pointer-events: none;
    
        background-image: url('/static/icons/one-silver-arrow.svg');
        background-repeat: repeat;
        background-size: 180px;
        background-position: center;
        opacity: 0.02;
        animation: move-diagonal 30s linear infinite;
    }
    
    @keyframes move-diagonal{
        0%{
            background-position: 0 0;
        }
        100%{
            background-position: -500px -350px;
        }
    }

    .scroll-invitation{
        background-color: $primary-color;
        width: 2px;
        height: 100px;

        position: absolute;
        transform: translateX(-50%);
        bottom: -50px; right: 25%;
    }
}


.citation{
    width: 100%;
    height: 90vh;

    position: relative;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        inset: 0;

        background-image: url('/static/images/swr-lh.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        opacity: 0.05;

        z-index: 0;
    }

    &__content{
        width: 100%;
        padding: 0 $space-h2;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;

        text-align: center;
        font-size: $h4-font-size;

        opacity: 1;
    }

    &__lh {
        transition: opacity $transition-left;
        color: $primary-color;
        font-family:$formulaNarrow;
        margin-top: $space-p;
    }
}


.presentation{
    width: 100%;
    height: auto;

    // padding: $space-h4 $space-h3;

    color: $dark-color;
    background: $light-color;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $space-h3;

    position: relative;
    z-index: 1;

    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        inset: 0;

        background-image: url('/static/icons/silver-arrow-silver.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.05;

        z-index: 0;
        pointer-events: none;
    }

    &__title{
        font-size: $h3-font-size;
        font-family: $formulaNarrow;
        line-height: 120%;

        position: relative;
        display: inline;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: $dark-color;
            transform: translateY(-50%);
            bottom: 50%; right: 104.414%;;
        }
    }

    &__content{
        padding: $space-h6 0 $space-p;
    }

    &__text{
        margin-bottom: $space-p;
        font-weight: 500;

        &--last{
            margin-bottom: 0;
        }
    }

    &__img{
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__left{
        padding: $space-h4 0 $space-h3 $space-h3;
        flex-basis: 50%; // 45%

        overflow-y: auto;
    }

    &__right{
        position: sticky;
        top: 0;

        flex-basis: 50%;

        height: auto;
        max-height: 100vh;
        padding-right: $space-h3;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.score{
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;

    border-bottom: 2px solid $primary-color;

    &__title-wrapper{
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity $transition-left, transform $transition-left;
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $space-p;

        font-size: $h4-font-size;
        font-family: $formulaNarrow;
        line-height: 120%;

        z-index: 20;
        pointer-events: none;

        &--visible{
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    @function scale-font($base, $ratio, $power: 2) {
        @return $base * pow($ratio, $power);
    }

    &__number{
        font-size: scale-font($h1-font-size, $rapport);
        color: $primary-color;
    }

    &__content{
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-h4;
    }

    &__btn{
        position: absolute;
        transform: translateX(-50%);
        top: 65%; left: 50%;
    }

    &__svg{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
        width: 80%; height: 80%;
        opacity: 0.5;
        z-index: -1;

        path{
            stroke: $secondary-color;
            stroke-width: 5px;
        }
    }
}

.cars{
    width: 100%;
    height: 100vh;

    background-color: $light-color;

    position: relative;
    z-index: 10;

    overflow: hidden;

    &__content{
        display: flex;
        position: relative;
        z-index: 5;
    }

    &__left{
        flex-basis: 45%;
        margin: $space-h4 0 $space-h4 $space-h3;
    }

    &__text-group{
        padding: $space-h6 0 $space-p;
    }

    &__text{
        margin-bottom: $space-p;
        color: $dark-color;
        font-weight: 500;

        &--last{
            margin-bottom: 0;
        }
    }

    &__right{
        flex-basis: 35%;
        // padding-right: $space-h3;
        
        position: absolute;
        z-index: 15;
        top: 0; right: -10%; bottom: 0;
    }

    &__title{
        font-size: $h3-font-size;
        font-family: $formulaNarrow;

        color: $dark-color;

        position: relative;
        display: inline;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: $dark-color;
            transform: translateY(-50%);
            bottom: 50%; right: 104.414%;
        }
    }

    &__img{
        width: auto;
        height: 100vh;
        object-fit: cover;

        // border-left: 2px solid $dark-color;
        // border-right: 2px solid $dark-color;
    }

    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        mix-blend-mode: luminosity;
        opacity: 0.2;

        & video{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    }
}