@use "../utils/index" as *;

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $space-h4;
    backdrop-filter: blur(25px);
    background-color: rgba(18,18,18,0.5);
    z-index: 225;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 $space-h5;

    // transform: translateY(-100%);
    transition: transform $transition-left;

    @include responsive(medium){
        height: 100vh;
        flex-direction: column;
        gap: $space-h6;
        justify-content: center;

        transform: translateY(-100%);

        .menu--open & {
            transform: translateY(0);
        }
    }

    &--toggle{
        cursor: pointer;

        position: absolute;
        top: $space-p; right: $space-p;
        z-index: 250;

        background: none;
        border: none;

        position: fixed;

        display: none;

        @include responsive(medium){
            display: block;
        }
    }

    &__icon{
        width: $h5-font-size;
        height: $h5-font-size;
        fill: $primary-color;
    }

    &__logo{
        width: 75px;

        @include responsive(medium){
            display: none;
        }
    }

    &__list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: $space-p;

        @include responsive(medium){
            flex-direction: column;
            gap: $space-h6;
        }
    }

    &__link{
        padding: 10px;
        color: $light-color;

        &:visited{
            color: $light-color;
        }
    
        &:hover{
            color: $link-color;
        }
    
        &:active{
            color: $link-active;
        }

        &--active{
            position: relative;
            display: inline-block;
    
            &::after{
                content: "";
                position: absolute;
                transform: translateX(-50%);
                left: 50%; bottom: 0px;
                
                width: 9px;
                height: 9px;
                background-color: $link-color;
                border-radius: 50%;
            }
        } 
    }

    &--hide{
        transform: translateY(-100%);
    }
}