@use "../utils/index" as *;

.intro-animation{

    &__start{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
        text-align: center;
    }

    &__annonce{
        position: relative;
        width: 100%;
        height: 100vh;  
    }

    &__title{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
        color: $light-color;

        font-family: 'PPFormulaNarrow';
        font-size: $h1-font-size;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include responsive(large){
            font-size: $h2-font-size;
        }

        @include responsive(small){
            font-size: $h3-font-size;
        }

        &--red{
            color: $mclaren-primary-color;
        }

        span{
            line-height: 120%;
            display: block;
        }
    }

    &__parallax{
        width: 100%;
        height: 100vh;
    
        position: relative;
    
        background-image: url('/static/images/background-lh-victoire.webp');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    
        overflow: hidden;
    
        z-index: 1;
        
        display: none;
    }

    &__img{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;

        object-fit: cover;
        width: 100%;

        z-index: 10;
    }

    &__logo{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;

        z-index: 5;
    }
}


.parcours{
    position: relative;

    padding: $space-h1 $space-h1 0;

    @include responsive(xxlarge){
        padding: $space-h3 $space-h3 0;
    }

    @include responsive(1500px){
        padding: $space-h3 $space-h4 0;
    }

    @include responsive(large){
        padding: $space-h3 $space-h5 0;
    }

    @include responsive(xmedium){
        padding: $space-h3 $space-h6 0;
    }

    @include responsive(small){
        padding: $space-h3 $space-p 0;
    }

    @include responsive(xsmall){
        padding: $space-h3 $space-text 0;
    }

    &--ferrari{
        padding: $space-h1 $space-h1 0;

        @include responsive(xxlarge){
            padding: $space-h3 $space-h3 0;
        }

        @include responsive(1500px){
            padding: $space-h3 $space-h4 0;
        }

        @include responsive(1280px){
            padding: $space-h3 $space-h4;
        }

        @include responsive(large){
            padding: $space-h3 $space-h5;
        }

        @include responsive(xmedium){
            padding: $space-h3 $space-h6;
        }

        @include responsive(small){
            padding: $space-h3 $space-p;
        }

        @include responsive(xsmall){
            padding: $space-h3 $space-text;
        }
    }

    &::before{
        content: "";
        position: absolute;
        inset: 0;

        background-image: url('/static/images/parcours-background.webp');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        opacity: 0.05;

        z-index: 0;
        pointer-events: none;
    }

    &__main-title{
        position: absolute;
        left: -100%;
    }

    &__content{
        position: relative;
        height: 75vh;

        display: flex;
        justify-content: space-between;

        @include responsive(xxlarge){
            height: 100vh;
        }

        @include responsive(1280px){
            flex-direction: column;
            height: auto;
        }
    }

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        font-size: $h2-font-size;
        font-family: 'PPFormulaNarrow';

        @include responsive(xlarge){
            font-size: $h3-font-size;
        }

        @include responsive(large){
            font-size: $h3-font-size;
        }

        @include responsive(xmedium){
            font-size: $h4-font-size;
        }

        &--mclaren{
            color: $mclaren-primary-color;

            @include responsive(xlarge){
                line-height: 120%;
            }
        }

        &--mercedes{
            color: $mercedes-primary-color;

            @include responsive(xlarge){
                line-height: 120%;
            }
        }

        &--ferrari{
            color: $ferrari-primary-color;

            @include responsive(xlarge){
                line-height: 120%;
            }
        }

        &--ecurie{
            font-size: $h4-font-size;
            text-transform: capitalize;
            margin-bottom: -$space-text;

            @include responsive(xlarge){
                margin-bottom: 0;
            }

            @include responsive(xmedium){
                font-size: $h5-font-size;
            }
        }

        &--year{
            position: absolute;
            transform: translateY(-50%);
            bottom: $space-h4; right: 0;

            @include responsive(xlarge){
                transform: translateY(0);
                font-size: $h4-font-size;
                position: static;
                line-height: 150%;
            }

            @include responsive(1280px){
                transform: translateY(0);
                font-size: $h4-font-size;
                position: static;
                line-height: 150%;
            }

            @include responsive(xmedium){
                font-size: $h5-font-size;
            }
        }
    }

    &__textuals{
        margin: $space-h6 0;
        width: 75%; //65%

        @include responsive(xlarge){
            width: 90%;
        }

        @include responsive(large){
            width: 100%;
        }
    }

    &__text{
        padding-bottom: $space-text;  
    }
    
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        display: block;

        @include responsive(xxlarge){
            object-position: center;
        }

        @include responsive(1280px){
            object-position: top;
        }
    }

    &__carousel{
        position: relative;
        width: 1000px; // 300px Mac // 400px
        height: 600px;
        overflow: hidden;
        border-radius: calc($base/2);
        z-index: 5;

        @include responsive(xxlarge){
            width: 500px;
        }

        @include responsive(xlarge){
            width: 400px;
        }

        @include responsive(1280px){
            width: 100%;
        }
    }

    &__slides{
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__slide{
        flex: 0 0 100%;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0; left: 0;
    }

    &__btn{
        cursor: pointer;

        border: none;
        border-radius: calc($base/2);
        background: $dark-color;

        color: $light-color;
        padding: $space-text;
        
        user-select: none;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover{
            path{
                fill: $primary-color;
            }
        }

        &:focus { outline: none; }

        &--prev{
            left: 0px;
            z-index: 10;
            border-radius: 0 calc($base/2) calc($base/2) 0;
            border: 2px solid $primary-color;
            border-left: none;

            svg{
                rotate: -180deg;
            }
        }

        &--next{
            z-index: 10;
            right: 0px;
            border-radius: calc($base/2) 0 0 calc($base/2);
            border: 2px solid $primary-color;
            border-right: none;
        }
    }
}
