@use "../utils/index" as *;

.intro-animation{

    &__start{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
    }

    &__annonce{
        position: relative;
        width: 100%;
        height: 100vh;  
    }

    &__title{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
        color: $light-color;

        font-family: 'PPFormulaNarrow';
        font-size: 144px;

        display: flex;
        flex-direction: column;
        align-items: center;

        &--red{
            color: $mclaren-primary-color;
        }

        span{
            line-height: 120%;
            display: block;
            // overflow-x: hidden;
        }
    }

    &__parallax{
        width: 100%;
        height: 100vh;
    
        position: relative;
    
        background-image: url('/static/images/background-lh-victoire.webp');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    
        overflow: hidden;
    
        z-index: 1;
    }

    &__img{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;

        object-fit: cover;
        width: 100%;

        z-index: 10;
    }

    &__logo{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;

        z-index: 5;
    }
}


.parcours{
    position: relative;
    // padding: $space-h3 $space-h3;

    // height: 100vh;
    // width: 100%;
    // overflow: hidden;
    // display: none;
    
    &--mclaren{
        padding: $space-h3 $space-h3 0;
    }

    &--mercedes{
        padding: $space-h3 $space-h3 0;
    }

    &--ferrari{
        padding: $space-h3 $space-h3 0;
    }

    &__main-title{
        position: absolute;
        left: -100%;
    }

    &__content{
        position: relative;
        height: 100vh;

        display: flex;
        justify-content: space-between;
    }

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        font-size: $h2-font-size;
        font-family: 'PPFormulaNarrow';

        &--mclaren{
            color: $mclaren-primary-color;
        }

        &--mercedes{
            color: $mercedes-primary-color;
        }

        &--ferrari{
            color: $ferrari-primary-color;
        }

        &--ecurie{
            font-size: $h4-font-size;
            text-transform: capitalize;
            margin-bottom: -$space-text;
        }

        &--year{
            position: absolute;
            transform: translateY(-50%);
            bottom: $space-h4; right: 0;
        }
    }

    &__textuals{
        margin: $space-h6 0;
        width: 65%;
    }

    &__text{
        padding-bottom: $space-text;  
    }
    
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__carousel{
        position: relative;
        width: 400px; // 300px Mac
        height: 600px;
        overflow: hidden;
        border-radius: calc($base/2);
        z-index: 5;
    }

    &__slides{
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__slide{
        flex: 0 0 100%;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0; left: 0;
    }

    &__btn{
        cursor: pointer;

        border: none;
        border-radius: calc($base/2);
        background: $dark-color;

        color: $light-color;
        padding: $space-text;
        
        user-select: none;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover{
            path{
                fill: $primary-color;
            }
        }

        &:focus { outline: none; }

        &--prev{
            left: 0px;
            z-index: 10;
            border-radius: 0 calc($base/2) calc($base/2) 0;

            svg{
                rotate: -180deg;
            }
        }

        &--next{
            z-index: 10;
            right: 0px;
            border-radius: calc($base/2) 0 0 calc($base/2);
        }
    }
}
