@use "../utils/index" as *;

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .citation{
        &::before{
            background-image: url('/static/images/swr-lh@2x.webp');
        }
    }

    .intro-animation{
        &__parallax{
            background-image: url('/static/images/background-lh-victoire@2x.webp');
        }
    }

    .parcours{
        &::before{
            background-image: url('/static/images/parcours-background@2x.webp');
        }
    }
}